@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}
button {
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}
.header {
  background-color: #2196f3;
  box-shadow: 0px 6px 5px -2px #c1bbb8;
}
.container {
  max-width: 1440px;
  padding: 0px;
  margin: 0 auto;
  height: 64px;
}
body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  align-items: center;
}
.menu {
  display: flex;
  gap: 0 20px;
}

.cats-btn {
  cursor: pointer;
  position: relative;
  display: flex;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  height: 64px;
  left: 64px;
}
.all_cat-btn {
  color: #ffffffb2;
  padding: 22.5px 12px;
}
.like_cat-btn {
  color: #ffffffb2;
  padding: 22.5px 10px;
}
.all_cat-btn:hover {
  background-color: #1e88e5;
  color: #ffffff;
}
.like_cat-btn:hover {
  color: #ffffff;
  background-color: #1e88e5;
}
#cat_container,
#favorite_cats_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 48px;
  margin-top: 52px;
  margin-left: 62px;
  margin-right: 62px;
  margin-bottom: 72px;
  justify-content: center;
  align-items: center;
}
.cat-image-container {
  position: relative;
  width: 225px;
  height: 225px;
}
.cat-image {
  position: relative;
  width: 225px;
  height: 225px;
  overflow: hidden;
}
.cat-image-container:hover {
  transform: scale(1.14);
  box-shadow: 0px 6px 5px -2px #c1bbb8;
}
#heart {
  position: absolute;
  bottom: 10px;
  left: 175px;
  display: none;
}
.heart-icon_all {
  background-image: url("../img/heart.svg");
  display: none;
}
.heart-icon_favorite {
  background-image: url("../img/heart_cliked.svg");
}
.cat-image-container:hover #heart {
  display: block;
}
.heart-icon_all:hover {
  background-image: url("../img/heart_cliked.svg");
}
.heart-icon_favorite:hover {
  background-image: url("../img/heart.svg");
}
.text {
  color: black;
  position: absolute;
  top: 935px;
  left: 623px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
}
